<div class="columns">
  <div class="column is-12 flex-center">
    <h1>New note</h1>
  </div>
</div>
<%= render "form", note: @note %>
<div class="columns">
  <div class="column is-12 flex-center">
    <%= link_to "Back to notes", notes_path, class: "button" %>
  </div>
</div>
